


/*  Base Layout  */
body, html {
    height: 100%;
	font-family: 'Dancing Script', cursive;


}

.banner {
       background-image: url("/img/beerwall.jpeg");
	   height: 350px;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       
}
.banner-text {
    text-align: center;
    position: relative;
    color: white;
    

  }
  .main-nav {
	list-style-type: none;
	margin: 0;
	padding: 0px;

  }
li {
	display: inline-block;
	
}



/*  Media Queries  */


@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}
}

/*  Media Queries  */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1 50%;
	}

	.row {
		flex-wrap: wrap;
	}


	.secondary {
		order: -1;
	}

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.col {
		flex-basis: 0;
	}

	.primary {
		flex-grow: 1.4;
	}

}
