


/*  Base Layout  */
body {
    height: 100%;
	font-family: 'Dancing Script', cursive;
	background-color: #fdfce7;

}

.banner {
       background-image: url("/img/beerwall.jpeg");
	   height: 350px;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       
}
.banner-text {
    text-align: center;
    position: relative;
    color: white;
    

  }
  .main-nav {
	list-style-type: none;
	margin: 0;
	padding: 0px;

  }
li {
	display: inline-block;
	
}
.flex-container {
	display: flex;
	flex-direction: row;
	
  }



/*  Media Queries  */

@media (min-width: 769px) {



@media (min-width: 1025px) {
